/* CSS Document */

header {
    background-image: url("header_bg.jpg");
    background-position-y: center;
    background-size: cover;
  
    text-align: center;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    padding-top: 300px;
}
footer{
	text-align: center;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	background-color:#393D3F;
	bottom: 0;
}

body {
    display: block;
    background-color: #FFFFFF;
}

p {
   background-color: grey;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
#navbar {
    background-color: #393D3F;

}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

#navbar li {
    text-align: center;
    display:inline-block;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#active {
    background-color: #111;
}

/* Change the link color to #111 (black) on hover */
#navbar li a:hover {
    background-color: #111;
    color: #9BB9C1;
}


.searched_items {
    list-style-type: none;
    padding: 5px;
}

.item	{
    display: inline-grid;

}

.item_tile  {
    margin: 5px;
}


.item_photo {

}

.item_info {

}

.filters {
	background-color: #393D3F;
	padding: 10px;
        margin: auto;
	margin-bottom: 14px;
	width: 80%;
	overflow: auto;

}
.cat_select_text {
	background-color: #393D3F;
	margin: auto;
	display: inline;
	text-align: center;
	color: white;
	width: 80%;

}

.category {
	float:left;
}


.search {
	float:left;
}


.product {
    height:350px; 
    width:250px; 
    background-color:#393D3F;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}
.product form{
	background-color: #393D3F;
}
.prod_img {
    width: 200px;
    height:200px; 
    margin-left: auto; 
    margin-right: auto;
    display: block;
}

.prod_txt {
    background-color:#393D3F;  
    color: white;
    margin-left: 30px;
    margin-right: 30px;
}

.cart_item {
	width: 100%;
	margin: 10px;
	margin-top: 25px;
	background-color: #393D3F;
	padding: 10px;	
	padding-bottom: 30px;
	color: white;	
}

.cart_img {
	height: 150px;
	width: 150px;
}	

.cart_info {
	padding-left: 15px;
	padding-right: 25px;
	display: inline;
	list-style-type: none;
}
.cart_item form{
	background-color: #393D3F;
}
.cart_item table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
	color: white;
    //margin: auto;
}
.cart_item td, .cart_item th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}

#foot{
	background-color:#393D3F;
	color: white;
	height: 40px;
}
#foot p{
	background-color:#393D3F;
	color: white;
}
#foot a:link {
	color: white;
}
#foot a:visited {
	color: purple;
}
#foot a:hover {
	color:blue;
}


.item_grid {
    margin: auto;
}

.container {
    margin: auto;
    text-align: center;
}

.page_content {
	padding: 20px;
	background-color: grey;
	margin: 40px;
	overflow: auto;
	margin:auto;
	width:70%;
}
body {
	background-color: silver;
}
form{
	background-color: grey;
}
input[type="text"], textarea ,input[type="password"], select, checkbox{

  background-color : #d1d1d1; 

}
#Order_History{
	margin-top: 25px;
	padding: 20px;
	background-color:#393D3F;
	overflow: auto;
	color: white;
	
}
#Order_History table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
	color: black;
    //margin: auto;
}

#Order_History td, #Order_History th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}
#Order_History p{
	background-color: #393D3F;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
#Order_History tr:nth-child(odd) {
    background-color: grey;
}
#Order_History tr:nth-child(even) {
    background-color: #dddddd;
}
#User_Input{
}
#User_Input table{
	
	font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    //margin: auto;
	margin-left: auto;
    margin-right: auto;
}
#User_Input td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}
#User_Input th{
	background-color:#393D3F;
	 border: 1px solid #dddddd;
	color: white;
}

h1{
	text-shadow: 1px 1px 2px black, 0 0 7px white, 0 0 5px white;
}
